[2013-12-10 13:31] garak opened #7 "handle output"
We need to handle output, to be able to return partial information to user during process. E.g., progress of downloading, info about package installed (or not), etc.

[2013-12-13 12:54] garak opened #10 "implement other flags"
We need to implement other flags for commands.
E.g., `install` has these flags:
    -F, --force-latest      Force latest version on conflict
    -h, --help              Show this help message
    -p, --production        Do not install project devDependencies
    -S, --save              Save installed packages into the project's bower.json dependencies
    -D, --save-dev          Save installed pac

[2013-12-19 10:15] garak opened #13 "enhance handling of installed packages"
We currently establish if a package is installed by looking for its bower.json file.
This is ugly, and bower uses a different approach (some packages have bower.json in "ignore").
We must investigate how bower handles this and try to replicate it.

[2013-12-19 10:22] garak opened #17 "cache command"
Implement a command to show cached packages and to clear cache

[2013-12-19 10:29] garak opened #19 "handle conflicts"
During package installation, if there is a conflict, we should prompt user with possible options to resolve.
E.g. try to install colorbox and then install jquery#1.2

[2014-01-22 09:50] garak opened #22 ""real" cache"
Currently, we rely on Guzzle http cache.
We should implement a "real" cache layer: if a package is in cache, we should not hit the http layer, but instead installa package from cache.
Also, we need to implement "cache" command (list cached packages and clear cache).

[2014-01-22 09:56] garak opened #23 "implement prune command"
The prune command uninstall all installed packages that are not in bower.json

[2014-02-21 13:26] hason opened #31 "Build on top of composer"
You should use code from composer and not inventing the wheel. I suggest to use `VersionParser`, `JsonFormatter`, `DependencyResolver`, `Downloader` etc.

[2014-10-14 07:08] varoot opened #54 "Handling renamed git repo"
BowerPHP doesn't handle the case when a repo is renamed on GitHub

For example, the package "jquery-hammerjs" returns "git://github.com/EightMedia/jquery.hammer.js.git"
(Check out https://bower.herokuapp.com/packages/jquery-hammerjs)

However, "EightMedia" has been renamed to "hammerjs" so https://github.com/EightMedia/jquery.hammer.js redirects to https://github.com/hammerjs/jquery.hammer.js but

[2014-10-28 08:44] julkue opened #57 "Add argument "register""
After running `bower register xxx xxx` I get the following error:
  [InvalidArgumentException]
  Command "register" is not defined.

This is a important functionality because bower does not have all packages from github!

[2014-11-08 14:36] piotrooo opened #64 "Config as singleton"
I think config should be represent as singleton pattern. Now is passed to all objects but should be one instance of object, with global access.

[2014-12-30 01:31] mtutty opened #95 "BowerPHP Fails with some second-level dependency values"
Example: vendor/bin/bowerphp install bootstrap-datepicker --save gives:

[code]

The bower.json file from the eternicode/bootstrap-datepicker repo looks like this:

[code]

The version causing the failure is apparently "bootstrap": ">=3.0 <4.0".  My guess is that npm bower can handle this properly, but bowerphp does not.

Another example:  vendor/bin/bowerphp install angular-ga#0.1.0 --save gives:

[2015-01-01 17:43] #95 closed

[2015-01-02 13:21] mikeSimonson opened #98 "[Insight] Unused method, property, variable or parameter - in src/…/Repository/GithubRepository.php, line 115"
This is an automatic bug report from sensio labs insight.
I am not making the PR yet because I don't know if it got here by accident or if you are working on something new.

Is it a mistake or should it stay ?

**[in src/Bowerphp/Repository/GithubRepository.php, line 115](https://github.com/Bee-Lab/bowerphp/blob/7dd0e26df30a8767c0d32da4926d842f69a1fad1/src/Bowerphp/Repository/GithubRepository.php#

[2015-01-03 03:21] samsonasik opened #100 "[website] update composer command to use 1.0.*@dev in website"
I'm not sure if it is the right place to report issue of instruction command installation in website that said :
[code]
When I try to load some assets, I got error in my local :
[code]
So, I try to update with :
[code]
and it works.
So, I think the website for command installation instruction need to be updated.

[2015-01-03 13:49] garak commented on #100
I just updated webiste.
Thank you

[2015-01-03 13:49] #100 closed

[2015-01-07 23:30] mikeSimonson opened #104 "Impossible to save a package if installed previously"
If you want to save a package that you have already installed with ```bowerphp install jquery-address```.
It will fail because there is a check for that in [bowerphp.php line 100](https://github.com/Bee-Lab/bowerphp/blob/master/src/Bowerphp/Bowerphp.php#L100).

Not sure what the best approach is in this case ?

[2015-01-07 23:35] mikeSimonson commented on #98
fixed

[2015-01-07 23:35] #98 closed

[2015-01-08 19:24] garak commented on #104
Bower does just the same: if a package is already installed, it's not installed again.

[2015-01-08 23:20] mikeSimonson commented on #104
It's right that it does not install it again but it should add it in the bower.json

[2015-01-09 08:15] garak commented on #104
No. There is no implicit adding in bower.json, you need to use ``-S`` flag

[2015-01-09 08:26] mikeSimonson commented on #104
I know.
The problem is that it won't add it to the bower.json when using ```bowerphp install -S jquery-address ```, if that package has already been installed previously using ```bowerphp install jquery-address```.

The bug is that the -S option doesn't work if the package is already installed.

Maybe the easiest/cleanest fix is just to check for the -S option before to try to install ?

[2015-01-09 08:33] mikeSimonson commented on #104
The problem is that it returns [on line 104](https://github.com/Bee-Lab/bowerphp/blob/master/src/Bowerphp/Bowerphp.php#L104) if the package is already installed with the same version. That's before it's checking for the -S option [on line 116](https://github.com/Bee-Lab/bowerphp/blob/master/src/Bowerphp/Bowerphp.php#L116).

[2015-01-09 10:27] mikeSimonson commented on #104
I have to check but I also have the impression that the version in bower.json file won't be updated if a package is updated.

[2015-01-10 14:26] mikeSimonson commented on #104
Well my remark about the update command make no sense. As it will only update depending on the version requirements.

[2015-01-10 21:55] mikeSimonson opened #108 "help command display false information"
On the last line the help command say that to show the list of available command we should use the list command, which is wrong. It's the list-commands that implement that feature. I didn't found were to configure that.

[2015-01-11 15:16] garak commented on #108
That's a Symfony functionality. We need to override it somehow.

[2015-01-11 16:05] mikeSimonson commented on #108
As far as I understand we just need to copy/paste and adapt this class ```Symfony\Component\Console\Command\HelpCommand;```.
It's in the [application file](https://github.com/Bee-Lab/bowerphp/blob/master/src/Bowerphp/Console/Application.php#L97).

[2015-01-11 16:12] garak commented on #108
Why copy/paste? Don't you think that extending it would be better?

[2015-01-11 16:47] mikeSimonson commented on #108
Yeah maybe extending is a bit less ugly.

[2015-01-11 19:32] #104 closed

[2015-01-17 15:54] lrlopez opened #111 "bowerphp installing wrong package version"
Hi,

I've just added Bowerphp to my Symfony project but I'm having some problems to get `jquery` installed.

When my project depends on `jquery#2.*"` or when I run `php vendor/beelab/bowerphp/bin/bowerphp install "jquery#2.*"`, bowerphp seems to install latest master despite I stated `2.*`. It even prints into console that the version to be downloaded is 2.1.3 but the uncompressed archive is not r

[2015-01-17 17:06] garak commented on #111
Looks like there is a problem with [php-github-api](https://github.com/KnpLabs/php-github-api).
I tried ``bowerphp install jquery#2.* -vvv`` and I see that php-github-api tries to fetch https://api.github.com/repos/jquery/jquery/zipball?ref=2.1.3, but such URL returns the master version of package.
The correct URL should be https://api.github.com/repos/jquery/jquery/zipball/2.1.3, but a this point

[2015-01-17 18:14] lrlopez commented on #111
Thanks @garak for pointing out the problem. I've just created a PR that fixes the API call mismatch, I hope it gets reviewed soon.

[2015-01-29 16:13] hpatoio opened #112 "Cannot compile"
I've cloned the repo and changed few things. I've then tried to compile the `.phar` by running `./bin/compile` but I get this error:

[code]

I've the same problem even if I revert my changes. Where am I wrong ?

[2015-01-29 17:46] #112 closed

[2015-02-03 10:02] #111 closed

[2015-02-15 17:48] VladimirShestakov opened #113 "install url"
Installation by url not work, for example: `install http://code.jquery.com/jquery-2.1.3.min.js`

[2015-02-16 10:04] jelte opened #114 "Installing jquery installs master instead of tag"
Trying to install jquery with bowerphp but I never get the dist folder.
It seems that each time the master (**https://codeload.github.com/jquery/jquery/legacy.zip/master**) is downloaded instead of the tag.
I've tried it with the following dependencies

-  "jquery": "~2.1.3"
-  "jquery": "v2.1.3"
-  "jquery": "git://github.com/jquery/jquery.git#v2.1.3"
-  "jquery": "git://github.com/jquery/jquery.

[2015-02-16 10:09] garak commented on #114
Which version of Bowerphp?

[2015-02-16 10:11] jelte commented on #114
$ vendor/bin/bowerphp --version
Bowerphp version 0.2 Powered by BeeLab (bee-lab.net)

[2015-02-16 10:12] garak commented on #114
Unfortunately, that version is almost pointless.
How did you install Bowerphp?

[2015-02-16 10:32] WouterJ commented on #114
@garak the install guide tells to install 0.2@alpha

[2015-02-16 10:36] jelte commented on #114
Installed it through composer using the master.

[2015-02-16 10:38] WouterJ commented on #114
Hmm, yeah. It's also the version string you get when installing dev-master

[2015-02-16 10:38] garak commented on #114
latest master is working for me. Please be sure that you're up to date.
Your problem looks the same as #111

[2015-02-16 10:38] #114 closed

[2015-02-16 10:39] jelte commented on #114
Yea seems to be the same issue, sorry missed it.

[2015-02-16 11:11] WouterJ opened #115 "Bower.json of dep package is not retrieved at the right moment"
The bower.json of dep packages is retrieved pretty early in the process, even before the version is resolved. This means that 99% of the time, [`Repository#getBower()`](https://github.com/Bee-Lab/bowerphp/blob/master/src/Bowerphp/Repository/GithubRepository.php#L58) is called with a version constraint instead of an exact version (e.g. `1.7.*`). It then tries to request `/repos/jqyery/jquery/conten

[2015-03-03 14:50] anroots commented on #115
Would this be the reason why I get the "source" version of jQuery that does not include a "dist" folder when installing with bowerphp?

[2015-03-03 14:52] WouterJ commented on #115
Yes

[2015-03-03 15:15] garak commented on #115
No :disappointed: See #114

[2015-03-03 15:24] WouterJ commented on #115
Ah, indeed. Sorry, mixed up the issues

[2015-03-04 06:37] anroots commented on #114
Yep, latest dev-master works (installs "correct" version of jQuery). However, the latest tagged release does not. Will be making goo-goo eyes to the next tag so that I could require a somewhat stable release from my `composer.json`.

[2015-03-07 15:58] garak commented on #115
Ehi @WouterJ can you check the last commit? Now we should get the version *before* getting the ``bower.json`` file, so jquery should be fine now.
Indeed, I'm not sure of understanding why we shouldn't get ``bower.json`` from master as fallback: in this case, it's the only info we could get, and it can't be different from version's one (since the latter doesn't exist). Feel free to tell me more to

[2015-03-09 11:59] clue commented on #114
Same for me. Any chance to get a tagged release? :shipit:

[2015-03-09 12:15] garak commented on #114
I'll tag a new release as soon I'll close 115.
I'm waiting feedback, be patient! :wink:

[2015-03-09 15:50] WouterJ commented on #115
It now works as expected.

[2015-03-09 15:50] #115 closed

[2015-03-20 11:31] sabl0r opened #118 "Wrong version of jQuery is installed"
Hi,
thanks for this great tool! I like the idea!
Today I ran into the following issue:

**bower.json**

[code]

**Bower** pulls in jQuery 1.11.2 as expected:

[code]

**BowerPHP** pulls in jQuery 2.1.3:

[code]

Is this a bug or are my dependency specifications wrong?
Any ideas, what's going on here?

[2015-03-29 12:25] garak commented on #118
We still need to implement advanced dependencies resolving.
Meanwhile, you can work around your situation by swapping positions in your bower.json:
[code]

[2015-03-29 15:08] sabl0r commented on #118
Thanks for your explanation. Your workaround works great. Fine by me for now ;)

[2015-04-22 06:47] judgedim opened #119 "Some dependencies are not installed"
I think related with  bug #82

"version": "v0.2.4-alpha"

[code]

![selection_610](https://cloud.githubusercontent.com/assets/3140807/7268597/c9cfa9d8-e8d3-11e4-8384-d4d666009e44.png)

When I do a 'bower install' with the node bower, it correctly finds *jquery-file-upload* and installs it.

[2015-04-22 07:17] garak commented on #119
Works for me.
Be sure to use the latest dev-master package of bowerphp

[2015-04-22 09:04] judgedim commented on #119
unfortunately, it didn't help

![selection_612](https://cloud.githubusercontent.com/assets/3140807/7270706/dc008452-e8e6-11e4-94c4-872882718d85.png)

[2015-04-22 09:17] garak commented on #119
Can you paste the output of your bowerphp install command?

[2015-04-22 10:21] judgedim commented on #119
bower jquery-ui#1.10.4
bower jquery-ui#1.10.4         install
bower jquery#>=1.6
bower jquery#2.1.3             install
bower jquery-file-upload#9.9.*
bower jquery-file-upload#9.9.3    install
bower blueimp-tmpl#>=2.5.4
bower blueimp-tmpl#2.5.4       install
bower blueimp-load-image#>=1.13.0
bower blueimp-load-image#1.13.0    install
bower blueimp-canvas-to-blob#>=2.1.1
bower blueimp-canvas-to-blo

[2015-04-22 11:20] garak commented on #119
OK, I found the problem: these packages ignore everything (having ``"/*.*"`` inside their ``ignore`` key).
So, we need to force entries in ``main`` to be not ignored, even if they are in the ``ignore`` pattern.

[2015-04-25 13:58] #119 closed

[2015-04-25 14:21] garak commented on #119
@judgedim I released a new tag

[2015-04-30 07:26] esserj opened #120 "Ckeditor release full/4.x cannot be installed due to invalid criteria (GithubRepository)"
GithubRespsitory:104 expression does not handle tags like full/xxx
while github allows for these tags to be used (see git://github.com/ckeditor/ckeditor-releases)

[2015-05-24 09:52] #54 closed

[2015-05-24 11:48] garak commented on #54
Tag v0.3.2-beta contains the fix for this issue.

[2015-06-29 05:14] gustavohenke commented on #13
There's a `.bower.json` file. It holds all necessary info about the cloned package.

[2015-06-29 05:18] gustavohenke commented on #13
I mean, that may not be the true way to check the package installation status, but it's more reliable... because that file is hidden in Unix OSs :ok_hand:

[2015-06-30 14:29] gms8994 opened #122 "Fatal error: DialogHelper is deprecated"
Trying to run `./vendor/bin/bowerphp`, I get the following error:

    Fatal error: Uncaught exception 'ErrorException' with message
    '"Symfony\Component\Console\Helper\DialogHelper" is deprecated since version 2.5 and will be
    removed in 3.0. Use "Symfony\Component\Console\Helper\QuestionHelper" instead.' in
    vendor/symfony/console/Helper/DialogHelper.php on line 34

[2015-06-30 14:32] garak commented on #122
Can you post the relevant parts of ``composer show -i`` command output? For "relevant" I mean at least Symfony version and bowerphp version.

[2015-06-30 14:34] gms8994 commented on #122
Wasn't sure which Symfony info you wanted, so I included it all.

[code]

[2015-06-30 14:36] garak commented on #122
Upgrading to Symfony 2.7.1 will fix your problem. Thank you.

[2015-06-30 14:36] #122 closed

[2015-06-30 14:57] gms8994 commented on #122
garak, I understand that. But this issue was introduced by installing bowerphp. Shouldn't the version number for Symfony be adjusted in bowerphp's composer.json?

[2015-06-30 15:01] garak commented on #122
Our currently requirement is for Symfony ~2.3. We cannot support minor versions of Symfony.

[2015-07-04 12:56] ZhukV opened #123 "Not view the package name, if package not found."
Not view the package name in console view, if package not found.

As example:

File `bower.json`:

[code]

And the package `datatables-plugins` not found.

Console output:

[code]

[2015-07-04 19:12] clue commented on #123
Interesting, this should have been addressed via #117?

What version are you testing this with?

[2015-07-10 15:23] garak commented on #123
@ZhukV can you provide info about used version? Otherwise, I'll close this.

[2015-07-16 07:37] garak commented on #13
This has been fixed some time ago. Now we rely on ``.bower.json``

[2015-07-16 07:37] #13 closed

[2015-07-16 07:56] #108 closed

[2015-08-12 14:08] #120 closed

[2015-08-12 14:09] garak commented on #123
No feedback

[2015-08-12 14:09] #123 closed

[2015-08-24 09:33] aurmil opened #125 "Package version installed is not the most recent one available"
hello

installs 3.1.0 whereas 3.4.0 exists

works correctly

v3.4.0 is listed in response body of /repos/daneden/animate.css/tags?per_page=100
but v3.1.0 comes first in the JSON, guess this is why BowerPHP uses this one

regards

[2015-08-24 09:40] aurmil opened #126 "Installed files differ from install with Bower"
hello,

got a trouble with installation of https://github.com/h5bp/server-configs-apache

installs everything except "dist" folder, which contains the file I need
the same command with Bower installs only "dist" folder
may be a bug when parsing "ignore" section of "bower.json" file?

[code]

regards

[2015-09-03 19:54] alex-signature-it commented on #113
That's a real bummer for private packages: you can avoid using node.js/npm for bower, but then you have to use them to host your private search repository.

[2015-10-20 08:59] rvanlaak opened #127 "BOWERPHP_TOKEN as Composer variable"
Would the [`Composer environment variables`](https://getcomposer.org/doc/03-cli.md#environment-variables) allow us to define `BOWERPHP_TOKEN`?

That would mean we can do the following:

[code]
Or is this the wrong interpretation of the composer environment variables?

Next to that, `composer install` also outputs an empty error message when `bowerphp install` is executed via `post-install-cmd`.

[2015-10-20 11:12] garak commented on #127
I'm not sure about composer environment variable, I think it should work (but if doesn't, it's not a problem of bowerphp).
You can try to set "bin/bowerphp install -vvv" in your "post-install-cmd" and see what it's happening.
Let me know.

[2015-10-20 11:15] Rvanlaak commented on #127
Will do :+1:

[2015-10-21 07:16] Rvanlaak commented on #127
`bin/bowerphp install -v` is verbose enough to output the error message :+1:

    You have reached GitHub hour limit! Actual limit is: 60

Including the token in the composer.json `config` unfortunately does not set the environment variable.

[2015-11-05 16:15] miztroh opened #128 "bowerphp doesn't install dependencies for GitHub packages"
I'm using this in an environment where I don't have rights to install node.  In that way, it's been a great find.  Thanks!

Bower fetches a GitHub package and then checks its bower.json for any dependencies, then goes and fetches those packages and their dependencies, etc.  BowerPHP doesn't do that.

For example: `bowerphp install --save https://github.com/PolymerElements/paper-elements.git#latest

[2015-11-05 18:23] garak commented on #128
I just tried and it looks like there is a problem with a version constraint. The error I get using ``bowerphp search paper-elements`` is ``Criteria PolymerElements/paper-badge#^1.0.0 is not valid.``.
I plan to remove soon the current library for semver with a better one.

[2015-11-05 19:28] miztroh commented on #128
@garak Polymer hasn't added most of their individual elements to the bower repository.  That's why it's so crucial (for me) that GitHub installs Just Work™.

[2015-11-14 13:55] #125 closed

[2015-11-14 13:55] #126 closed

[2015-11-20 12:29] garak commented on #127
Reading the docs, composer allows setting only for **its** environment variabiles, not for *any* environment variable.
You should set ``BOWERPHP_TOKEN`` elsewhere.

[2015-11-20 12:29] #127 closed

[2015-11-20 12:30] rvanlaak commented on #127
Yes also found out that, :+1: for closing this one

[2015-12-01 16:14] mefiblogger commented on #57
:+1:

[2015-12-10 20:54] ibcs01 opened #129 "Cannot install package without version"
Hi,

First of all, thanks for writing this great package.
I am using it for a few weeks now, and today I came across an issue that I cannot get solved.
I might overlook something, and i hope someone can point me in a direction.

Problem is that i cannot install a package called soundmanager2.
Reason is that the package does not has any versions defined.

When i search for the package, i get these

[2015-12-11 08:08] garak commented on #129
This is a know issue, see #113 and #128
We still need to implement installation from a git URL or http URL.
If you want to implement such feature, feel free to open a pull request.

[2015-12-11 08:08] #129 closed

[2015-12-12 20:19] ibcs01 commented on #129
OK, thank you.

[2016-01-17 20:44] Swader opened #132 "How maintained is this project?"
@garak is this project still being maintained? We're big fans of it over [at SitePoint](http://www.sitepoint.com/bower-vs-bowerphp/) and I was wondering if there's any way we can help with keeping it alive and kicking, besides contributing directly. Is beelab actively interested in taking it further? I ask because the main Bower project is kind of dead, but BowerPHP is still incredibly useful, to

[2016-01-18 09:55] garak commented on #132
Hello @Swader and thanks for your interest.
While activity on this project is not heavy, we'd like keep supporting and developing it.
I'd like to release a non-beta version, but a couple of issues keep me from doing it: see #118, #128 and #113.
I can tag such issues with a milestone, to make this explicit.
Anyway, I see that working on that issue would likely require a big refactoring in how we ha

[2016-01-20 12:39] st0at opened #133 "Is Symfony 3 support planned?"
Hi,

I just wanted to know if the support for Symfony 3 is planned. Because now I cannot install it on Symfony 3:
composer require beelab/bowerphp:1.0.*@dev
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation re

[2016-01-20 12:40] Capenus commented on #133
See #131

[2016-01-20 12:41] garak commented on #133
There an active PR (the one mentioned above)

[2016-01-20 12:41] #133 closed

[2016-01-27 20:34] Swader commented on #132
@garak I'll try and take a look, get it some more exposure at the very least.

[2016-03-16 05:15] tarampampam opened #136 "[ErrorException] Undefined index: dependencies"
My `bower.json` and `.bowerrc`:
[code]
[code]

In console:
[code]

So.. Why this happens?

[2016-03-16 08:32] #136 closed

[2016-03-16 09:07] tarampampam commented on #136
There is **no effect**:
![screenshot_1](https://cloud.githubusercontent.com/assets/7326800/13806864/003d2a18-eb80-11e5-9914-df9543df4d47.png)

./bower.phar was compiled by commands:
[code]

Can you make tests **before** commit & closing this issue?

[2016-03-16 09:10] garak commented on #136
I did tests and it works for me

[2016-03-16 09:11] tarampampam commented on #136
So.. what's happened in my case?

[2016-03-16 09:12] garak commented on #136
I mean, the `list` command is fine (the one you mentioned in your issue).
For the `info` command, you need to pass an argument

[2016-03-16 09:14] tarampampam commented on #136
Oh, sorry, my bad. There is correct error message:
[code]

[2016-03-16 09:19] garak commented on #136
Can you try directly with the `bin/bowephp` script instead of the phar?

[2016-03-16 09:37] tarampampam commented on #136
[code]

[code]

Is it normal? In your `composer.json`:
[code]

[2016-03-16 09:42] garak commented on #136
I'm sorry, but I'm not able to reproduce your problem. The requirement in composer.json is absolutely normal.
I can only guess that your problem could be related to ionCube.
You can try this: `strace bin/bowerphp list`

[2016-03-16 09:48] tarampampam commented on #136
I disabled ionCube, and anyway have no any positive results:
[code]

[2016-03-16 09:52] garak commented on #136
I'm sorry, but I don't have any clue about your problem.

[2016-03-16 09:53] tarampampam commented on #136
[code]

[code]

[code]

[code]

[2016-03-16 09:58] tarampampam commented on #136
Here is archive with repository clone + phar + bower test config. Maybe this will helps you: https://drive.google.com/file/d/0B8jho7c8kaRhTFdsMnhJMFpaSWs/view

[2016-03-16 10:01] garak commented on #136
Well, it looks like your problem is just with php 5.3. That version is really old and unsupported, and we're supporting it only because it's supported by Symfony components versio 2.3
In next May, when Symfony 2.3 will be out of support, we'll require php 5.5 as minimum version.

[2016-03-16 10:19] clue commented on #136
Albeit unsupported by Zend, PHP 5.3 works just fine.

Looks like your `composer.lock` has been created with a newer version of PHP and thus references packages that are not compatible with PHP 5.3.

[code]

Long story short: Run `composer update` once with the correct PHP version and everything should work.

[2016-03-16 10:48] tarampampam commented on #136
Yeah! Great! Thx 2 you, @clue!

[2016-03-21 17:40] hiqsol opened #137 "Update command incompatibility"
When you run original `bower update` it quietly installs all required components including those never installed before.

bowerphp exits with error:

[code]

Usually package managers (bower, npm, composer, ...) do install when you run `update`.

[2016-03-29 16:12] hiqsol commented on #137
@garak Will you take PR? Can you please explain basic idea how to do the trick?

[2016-04-08 14:24] tschechniker opened #139 "Unable to download Dependency"
Hi,

i want do download bootstrap via bower. Composer says "Your requirements could not be resolved to an installable set of packages."

Here is the debug log:

Downloading https://bower.herokuapp.com/packages/bootstrap using proxy
Writing C:\xampp\Composer/cache/repo/https---bower.herokuapp.com-packages/bootstrap-3c71cc99d2fc1c12a3d3e1b27e448ca612a89a1d-package.json into cache
Adding VCS reposito

[2016-04-08 14:30] #139 closed

[2016-04-08 14:31] tschechniker commented on #139
Sorry too many open tabs  ... ignore this

[2016-04-12 11:53] itstueben opened #140 "Private Repository"
Hey we use a private Repository hostet on a local Server. (https://github.com/Hacklone/private-bower)
With npm Bower Installation it works fine. In bowerphp the packges wont find. If we take a offical packge it works fine. Anyone knows bowerphp support private repository?
Our repositorys are hostet in SVN! Can SVN be the problem?

[2016-04-12 12:35] garak commented on #140
I'm sorry but the current implementation only works with git. As you can see [here](https://github.com/Bee-Lab/bowerphp/tree/master/src/Bowerphp/Repository), there is only a `GitRepository` class.
Feel free to open a PR implementing a possible `SvnRepository` class.

[2016-04-20 14:59] kbca opened #141 "lock file"
If we want to use bowerphp to manage our dependencies and install some of them, we have to commit all the files of the dependencies because bowerphp doesn't generate a .lock file saving the libs which were downloaded. So, if somebody wants to contribute to your project and you didn't committed the dependencies, this user can't know which dependencies you're using.

It would be great that instead o

[2016-04-20 16:22] garak commented on #141
We're just re-implementing bower here.
If bower ever implements such feature, we could do it as well.
See see https://github.com/bower/bower/issues/505

[2016-04-20 16:22] #141 closed

[2016-04-29 17:21] simplimation opened #142 "Getting 404's on all packages for install and update"
When I install or update packages, they all return 404 from Github. Looks like Github changed the path to package.json?

Client error response
[status code] 404
[reason phrase] Not Found
[url] https://github.com/nicinabox/superslides/master/package.json

Client error response
[status code] 404
[reason phrase] Not Found
[url] https://github.com/nicinabox/superslides/master/package.json

Search resu

[2016-05-03 14:03] tarampampam opened #143 "self-update option"
Hi guys!

Do you planning add option `self-update` for self-updating phar package, like an `composer`?

[2016-05-03 14:07] garak commented on #143
Not yet.
Feel free to open a PR, anyway.

[2016-05-20 09:40] 42antoine opened #144 ""Not found", the come back"
I got "Not found" message when i try to use bowerphp. I used bowerphp 1.0.*@dev.

I tried like following : (not working with or without --working-dir option)

[code]

The BOWERPHP_TOKEN var is set in env.

[code]

Here [the package i try to install](https://gitlab.com/cvepdb-cms/theme-adminlte.git), the bower.json is in assets directory. Obviously it's working fine with npm and gulp.

I saw #123 a

[2016-05-20 09:47] garak commented on #144
Can you post the content of your bower.json file? Even only the relevant part (where your package is mentioned)

[2016-05-20 09:49] 42antoine commented on #144
.bowerrc
[code]

bower.json
[code]

[2016-05-20 11:33] clue commented on #144
This is *interesting*, the latest release is v0.3.6-beta :)

Can you check `composer show` to get the version currently in use?

[2016-05-20 11:38] garak commented on #144
@clue `1.0.*@dev` is just an alias for `dev-master`

[2016-05-20 11:41] 42antoine commented on #144
[code]

-> I'm trying with the v0.3.6-beta

[2016-05-20 11:45] 42antoine commented on #144
With the following, in composer.json :

[code]

I get the same output.

[2016-05-20 11:48] garak commented on #144
Problem is that we currently support only github repositories, while your package is hosted on gitlab.

[2016-05-20 11:57] 42antoine commented on #144
Hooo, yes when i remove my gitlab package ("cvepdbjs": "0.1.9",), i can get another output.

[code]

But seems to be another issue 😺

[2016-05-24 09:29] garak commented on #144
It looks like bower is supporting that weird syntax of `"packageName": "lowercasepackagename#version"`.
If you try to replace lines like `"Ionicons": "ionicons#^2.0.1",` with `"ionicons": "^2.0.1",` it should work

[2016-05-24 09:31] garak opened #145 "support gitlab"
Currently, only githhub is supported.
We should support also gitlab, that is used by packages like [cvepdbjs](http://bower.herokuapp.com/packages/cvepdbjs)

[2016-05-24 09:34] garak opened #146 "support "hash" alias"
Bower is supporting definitions like this one:

`"Ionicons": "ionicons#^2.0.1"`

where the key is a sort of name alias, where the actuale package name is in the value, followed by an hash and finally the version. So, bowerphp should support this, checking for a possible hash, stripping everything before and assigning it to package name and keeping the rest (except the hash itsfelf) as version.
So,

[2016-05-24 12:31] surikat commented on #57
+1

[2016-05-24 14:20] garak commented on #57
Feel free to open a PR

[2016-05-24 15:31] julmot commented on #57
@garak I've already switched to the origiball one as of missing arguments

[2016-05-26 10:30] 42antoine commented on #144
Let's follow tickets #145 & #146 😄

[2016-05-26 10:30] #144 closed

[2016-06-01 09:33] surikat opened #147 "custom composer vendor dir"
Hello,
first thank you for this great tool !

when I use a custom vendor dir for composer packages (see https://getcomposer.org/doc/06-config.md#vendor-dir)

I get:

PHP Fatal error:  Uncaught Exception: You must set up the project dependencies, run the following commands:
curl -sS https://getcomposer.org/installer | php
php composer.phar install
 in /var/www/myproject/packages/beelab/bowerphp/src

[2016-06-01 09:43] #147 closed

[2016-06-01 10:01] surikat commented on #147
Thank's, you're very reactive, it's pleasant

[2016-07-12 02:37] myuseringithub opened #149 "Question: Shell_execute PHP function vs BowerPHP"
Whats the cons and pros of using any of these two options. Other than the need of Node.js to be installed when using shell_execute.

For using Bower on Node.js, what's the recommended option if I want to install/update packages using PHP script ? e.g. building a web UI to control Bower packages, where a PHP endpoint is used to achieve this task.

Thanks

[2016-07-12 09:06] garak commented on #149
I'm not sure to understand your question... if you can rely on the original Bower, you don't need anything else, not BowerPHP, nor any other PHP script.

[2016-09-09 08:30] piotr-zuralski commented on #142
is should be https://github.com/nicinabox/superslides/blob/master/package.json for the first one

[2016-09-09 09:09] garak commented on #142
Just tried with latest bowerphp version and `bowerphp install superslides` works as expected (it installs superslides)

[2016-09-09 09:09] #142 closed

[2016-10-11 09:55] demil opened #152 "Why bower don't have rate limit, but bowerphp does?"
Why bower don't have rate limit, but bowerphp does?

[2016-10-11 11:19] garak commented on #152
Everyone has a limit when accessing github APIs, also Bower. You can check it easily by looking into Bower project issues.

[2016-10-11 11:21] demil commented on #152
but i can easily use bower and i have never hit rate limit, but on bowerphp there was hit immediately.

[2016-10-11 11:40] garak commented on #152
This is explained in the README.

[2016-10-11 11:40] #152 closed

[2016-11-22 11:41] diimpp opened #153 "[Release] Website has 0.5 release phar, but github and packagist don't"
Hi,

as topic says, github missing 0.5 release for some reason.

Cheers,
Dmitri.

[2016-11-22 12:16] garak commented on #153
It was a typo in website, it's fixed now.
Thank you

[2016-11-22 12:16] #153 closed

[2016-11-22 14:44] diimpp commented on #153
https://bowerphp.org/bowerphp.phar

Now returns 404, note, that previous available phar build showed 0.5 version as well.

[2016-11-22 14:48] garak commented on #153
Fixed now. Thanks again

[2016-12-08 17:14] peter279k opened #155 "The bowerphp.org domain seems to be expired"
The bowerphp.org domain is not available now.
Please fix it. Thanks.

[2016-12-08 19:53] garak commented on #155
Ping @maurodalatri

[2016-12-16 19:50] peter279k commented on #155
Unfortunately, the domain still is not available. What happen ?

[2016-12-24 11:05] rdmendo opened #157 "RuntimeException - Could not find .../Guzzle/Http/Resources/cacert.pem"
[RuntimeException]
bowerphp.phar/vendor/guzzle/guzzle/src/Guzzle/Http/Resources/cacert.pem

PS: Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.

[2016-12-24 15:47] garak commented on #157
`guzzle/guzzle` is a dependency of `knplabs/github-api`.
I tried to upgrade `knplabs/github-api` to `2.*`, but it changed a lot since `1.*` and it's a mess.

[2017-01-05 14:02] indrakaw commented on #155
Oh no. Time to stick with GitHub Pages.

You can check the site via web archive at http://web.archive.org/web/bowerphp.org tbh

[2017-01-05 17:00] garak commented on #155
Domain should be trasferred to @maurodalatri
Meanwhile, you can force your local dns to resolve it on 217.160.176.118

[2017-01-08 20:24] #128 closed

[2017-01-08 21:58] samayo commented on #155
@garak  What is with the IP? it redirects to a different site. I see no content related to bowerPHP.

[2017-01-09 07:52] garak commented on #155
You can't recall that IP directly. You need to force your local domain resolver to resolve bowerphp.org to it.
See https://en.wikipedia.org/wiki/Hosts_(file) for more info.

[2017-01-29 13:58] akovalyov opened #162 "Add a composer script"
Hi,
First of all - thank you for this lib, it is really cool.
I have a simple proposal - can a simple composer script be shipped with the lib? Then with one simple command one is able to install everything (of course after adding it to scripts section in composer.json).

What do you think?

[2017-01-29 14:31] garak commented on #162
Which kind of script?

[2017-01-29 14:36] akovalyov commented on #162
@garak https://getcomposer.org/doc/articles/scripts.md

In this case it will be a simple class with one public static method, which will install bower assets after composer dependencies are installed.

[2017-01-29 14:40] garak commented on #162
Considering that you can use scripts like this one (taken just from the link you suggested) `"php -r \"copy('config/local-example.php', 'config/local.php');\""`, I guess that you don't need anything more of what is already available, e.g. a binary to execute (`bowerphp` in our case)

[2017-01-29 20:19] akovalyov commented on #162
@garak well, I agree. Probably I am too used to Symfony script handlers.

[2017-01-29 20:19] #162 closed

[2017-02-25 21:16] fridde commented on #155
Can you please remove the bowerphp.org link from the Readme?

[2017-04-20 16:03] #155 closed

[2017-04-22 10:03] garak commented on #157
I'm closing this since I cannot reproduce. I just tried to compile from source (using `bin/console compile 1`) and .pem file is there

[2017-04-22 10:03] #157 closed

[2017-04-22 10:05] #149 closed

[2017-06-16 14:10] KG20 opened #163 "Why does Bowerphp require symfony?"
I am sorry if these are stupid questions (newbie here), but:
 why does bowerphp require symfony?
if I am not using symfony should I still use this?
if i need to include each script from bower-component folder separately (unlike composer); what are the advantages of using this?

Thanks for your help in advance!

[2017-06-16 14:17] garak commented on #163
Likely it's not clear to you what Symfony is. As you can see on official website "Symfony is a set of reusable PHP components". So, you're already using Symfony, just because you're using composer (that is using Symfony just like bowerphp does).
I'm not sure to understand your question about including each script...

[2017-06-16 14:42] KG20 commented on #163
oh, ok! Sorry about the misunderstanding. What I meant to ask is, for different javascript files, I should include each file I want to use in <script> tags right? like, <script src="../bower_components/somefile.js></script> right?

[2017-06-16 16:31] garak commented on #163
Yes, bowerphp (like bower) doesn't do any post processing to your assets. If you look for something like that, see webpack (but you'll need node)

[2017-06-24 20:54] #163 closed

[2017-06-24 20:54] KG20 commented on #163
Thanks!

[2017-07-04 15:22] ace411 opened #164 "Trying to install cycle js"
Hello there, I am trying to install the package cycle js and failing miserably. I keep getting the error message:
[code]
A little help would be greatly appreciated.

[2017-07-04 15:26] garak commented on #164
It works for me using latest bowerphp version

[2017-07-04 15:36] ace411 commented on #164
Should I add bowerphp to my path?

[2017-07-04 15:38] garak commented on #164
I'm not sure to understand how the path could be related to this issue...

[2017-07-04 15:40] ace411 commented on #164
What do you think the problem is?

[2017-07-04 15:42] garak commented on #164
You're using an old version of bowerphp

[2017-07-04 15:47] ace411 commented on #164
Alright. Thank you.

[2017-07-04 15:48] ace411 commented on #164
I'll get the latest version as soon as possible.

[2017-08-05 07:43] hanxzi opened #165 "how to move it in your $PATH (e.g. /usr/local/bin)"
$composer require beelab/bowerphp
beelab/bowerphp                   v0.4.0  An implementation of bower in PHP
so,how to move to $path

[2017-08-05 10:50] garak commented on #165
That makes sense only if you downloaded the phar (or if you built it yourself).

[2017-08-07 00:31] hanxzi commented on #165
thanks

[2017-08-07 07:52] garak commented on #165
You're welcome

[2017-08-07 07:52] #165 closed

[2017-09-24 13:32] jalandis opened #166 "Update Registry"
Bower has moved their registry.  This redirect is breaking a legacy application I support.

[code]
[Bower Registry Commit](https://github.com/bower/bower/commit/6500b421ce02abba9259e08f8b31597984c3c83d
)
[Twitter Announcement](https://twitter.com/bower/status/908359136601133056
)

[2017-09-24 15:50] garak commented on #166
Fixed in #167
Thanks!

[2017-09-24 15:50] #166 closed

[2018-01-15 16:45] MrPetovan opened #169 "Update to knplabs/github-api version 2"
First of all, thanks for this awesome project!

During install with Composer, it says:

`Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.`

The `guzzle/guzzle` package is required by `knplabs/github-api:^1.7` but not by `knplabs/github-api:2.*`.

Is there any intention of using the new `knplabs/github-api` library version?

[2018-01-15 20:49] MrPetovan commented on #169
I understand, I was just wondering if it was known or planned. Thank you for your time!

[2020-05-23 19:52] #143 closed